<h2> LINEA BODY </h2>

<nav class="mob-nav">
  <a href="/index"> Home </a>
  <a href="#about"> About </a>
  <a href="#services"> Services </a>
  <a href="#contact"> Contact </a>
</nav>

<hr> <!-- this is a horizontal rule, aka line -->

<nav class="social-nav">
  <!-- add your social links here -->
  <a href="http://www.facebook.com/pages/Linea-Body/134430216603633?ref=sgm"> <i class="fa fa-facebook"></i> </a>
  <a href="http://www.yelp.com/biz/linea-body-san-francisco"> <i class="fa fa-yelp"></i> </a>
  <a href="https://twitter.com/LineaBody"> <i class="fa fa-twitter"></i> </a>
</nav>
