<div id="filler"></div>
<div id="fillertwo"></div>



<header class="grid-middle">


  <div class="col-6_sm-12">
      <img id="logo" src="/images/demo-logo.png" alt="Brand Name Here">
  </div>
  <div class="col-6_sm-12 mob-hide">
      <nav class="right">
        <a href="/index"> Home </a>
        <a href="#about"> About </a>
        <a href="#services"> Services </a>
        <a href="#contact"> Contact </a>
        <a class="shedul-embed-button-link mob-hide goaway" style="overflow: visible; cursor: pointer; background: rgb(52, 73, 94); color: rgb(255, 255, 255); border: 0px; display: inline-block; outline: none; padding: 10px 15px; margin: 0px; font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 16px; text-decoration: none; border-radius: 3px; -webkit-appearance: none; box-shadow: none;" href="https://app.shedul.com/online_bookings/48121/link">Book Now</a><script>!function(e){var t="shedul-embed-button-loader",d="https:"===e.location.protocol?"https":"http",n=e.getElementsByTagName("head")[0];if(!e.getElementById(t)){var o=e.createElement("script"),p=e.createElement("style");o.id=t,o.src="https://app.shedul.com/embed_button.js".replace(/^\w+/,d),p.type="text/css",p.innerHTML=".shedul-widget-open { position: fixed; overflow:hidden; }",n.appendChild(o),n.appendChild(p)}}(document);</script>
      </nav>
  </div>

</header>
