<footer class="grid">

  <!-- Column 1 -->
  <div class="col-6_sm-12">
    <img class="logo" src="/images/demo-logo.png" alt="Brand Name Here">
    <p> This is a short description of my brand, which is really fucking awesome. You should probably recommend it to someone </p>
  </div>

  <!-- Column 2 -->
  <div class="col-3_sm-6_xs-12">
    <nav>
      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <a href="#"> Services </a>
      <a href="#"> Contact </a>
    </nav>
  </div>

  <!-- Column 3 -->
  <div class="col-3_sm-6_xs-12">
    <!-- <nav class="social-nav">
      <a href="http://www.facebook.com/pages/Linea-Body/134430216603633?ref=sgm"> <i class="fa fa-facebook">  Facebook</i></a>
      <a href="https://twitter.com/LineaBody"> <i class="fa fa-twitter">  Twitter</i></a>
      <a href="http://www.yelp.com/biz/linea-body-san-francisco"> <i class="fa fa-yelp">  Yelp</i></a>
      <a href="LineaBodyWork@gmail.com"> <i class="fa fa-laptop">  Email</i></a>
    </nav> -->
    <nav class="social-nav">
      <!-- add your social links here -->
      <a href="#"> <i class="fa fa-facebook"></i>Facebook </a>
      <a href="#"> <i class="fa fa-yelp"> </i>Yelp</a>
      <a href="#"> <i class="fa fa-twitter"></i>Twitter</a>
      <a href="#"> <i class="fa fa-laptop"></i>Email</a>
    </nav>
  </div>

</footer>
<div id="filler"></div>
